<div id="programRobot"  class="fill">
        <div class="row" style="height: 30%">
        <div class=" col-xs-12 fill"></div>
        </div>

        <div class="row" style="height: 40%">
        <div class=" col-md-4 fill"></div>
        <div class=" col-md-4 fill">
            <button data-ng-click="getRemoteBehaviour">Update</button>
        </div>
        <div class=" col-md-4 fill"></div>
        </div>

        <div class="row" style="height: 30%">
        <div class=" col-xs-12 fill"></div>
        </div>
</div>