<div id="joystickControl"  class="fill">
    <div id="controlSelectionRow" class="row "  style="height: 20%;background-color: #85CFE5; ">
        <div class=" col-xs-4 fill">
             <a ui-sref-active="active" ui-sref="robotControl"> 
                <div id="controlMenuJoystick" ng-class="{ imgControlsMenuJoystick: isControlSelected('joystick'), imgControlsMenuJoystickUnselected: !isControlSelected('joystick'), imgControlsMenu : true}"></div>
            </a>
            </div>
        <div class=" col-xs-4 fill">
             <a ui-sref-active="active" ui-sref="robotControl.differentialControl"> 
                <div id="controlMenuDifferential" ng-class="{ imgControlsMenuDifferential: isControlSelected('differential'), imgControlsMenuDifferentialUnselected: !isControlSelected('differential'), imgControlsMenu : true}"></div>
            </a>
        </div>

        <div class=" col-xs-4 fill">
            <a ui-sref-active="active" ui-sref="robotControl.motionControl"> 
                <div id="controlMenuaMotion" ng-class="{ imgControlsMenuMotion: isControlSelected('motion'), imgControlsMenuMotionUnselected: !isControlSelected('motion'), imgControlsMenu : true}"></div>
            </a>
        </div>
    </div>

    <div class="row"   style="height: 15%">
        <div class=" col-xs-3 fill">
            <div data-ng-click="clickShootCommand()" class="controlShootCommand imgControls"></div>
        </div>
        <div class=" col-xs-6 fill noLeftOrRightPadding">
            <div data-ng-click="clickTop()" class="imgJoystickTop imgControls"></div>
        </div>
        <div class=" col-xs-3 fill">
            <div data-ng-click="clickWaggleCommand()" class="controlWaggleCommand imgControls"></div>
        </div>
    </div>
    <div class="row" style="height: 50%">
        <div class=" col-xs-2 fill noLeftPadding">
            <div data-ng-click="clickLeft()" class="imgJoystickLeft imgControls"></div>
        </div>
        <div class=" col-xs-8 fill noLeftOrRightPadding">
            <div class="imgJoystickCentre imgControls"></div>
        </div>
        <div class=" col-xs-2 fill noRightPadding">
            <div data-ng-click="clickRight()" class="imgJoystickRight imgControls"></div>
        </div>
    </div>
    <div class="row"   style="height: 15%">
        <div class=" col-xs-3 fill">
            <div data-ng-click="clickSpinCommand()" class="controlSpinCommand imgControls"></div>
        </div>
        <div class=" col-xs-6 fill noLeftOrRightPadding">
            <div data-ng-click="clickBottom()" class="imgJoystickBottom imgControls "></div>
        </div>
        <div class=" col-xs-3 fill">
            <div data-ng-click="clickMoreCommands()" class="controlMoreCommand imgControls"></div>
        </div>
    </div>

</div>