<div data-ng-controller="MainController" class="container-fluid">
    <div id="OdysseyBody" style =" width:100%;height:100%;display:inline;">
        <div id="odysseytitle">Getting Started On Your Droid Odyssey</div>
        <div id="odysseyMap">
            <div id="odysseyTopItems" class="row">
                <div id="item_pair" class="odysseyRouteItems">
                      Pair the robots
                </div>
                <div id="item_drive" class="odysseyRouteItems">
                      Drive a the robots
                </div>
                <div id="item_roam" class="odysseyRouteItems">
                      let the robot roam about
                </div>
                <div id="item_play" class="odysseyRouteItems">
                      play a game with the robots
                </div>

            </div>

            <div id="odysseyBottomItems"  class="row">
                <div id="item_configure" class="odysseyRouteItems">
                     Configure the robots
                </div>
                <div id="item_program" class="odysseyRouteItems">
                      Program a robot
                </div>
                <div id="item_multiple" class="odysseyRouteItems">
                      controlling mutliple robots
                </div>
                <div id="item_more" class="odysseyRouteItems">
                      More ways to drive a robot
                </div>
            </div>

        </div>
    </div>

</div>

