    <div id="navigationBar" class="fill navigationBackground">
        <ul class="nav nav-pills nav-stacked fill">
            <li ng-class="{ active: isActive('/odyssey'), nav_item: true}"><a href="" class="fill" data-ng-click="navigate('odyssey')">Odyssey </a></li>
            <li ng-class="{ active: isActive('/robotControl'), nav_item: true}"><a href="" class="fill" data-ng-click="navigate('robotControl');">Control</a></li>
            <li ng-class="{ active: isActive('/games'), nav_item: true}"><a href="" class="fill" data-ng-click="navigate('games');">Games</a></li>
            <li ng-class="{ active: isActive('/central'), nav_item: true}"><a href="" class="fill" data-ng-click="navigate('central');">Central</a></li>
            <li ng-class="{ active: isActive('/droidWars'), nav_item: true}"><a href="" class="fill" data-ng-click="navigate('droidWars');">Droid Wars</a></li>
        </ul>
    </div>